/* Give your page a fun background color */
html, body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    background-color: #2e2e2e;
    min-height: 100vh;
    justify-content: center;
    }

.conbox {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:center;
    flex:auto;
    max-height:auto;
    max-width:45%;
    background-color: #5c3700;
}

footer {
    color: #70614a;
    font-size: 1em;   
}

footer:hover {
    transform: scale(1.2, 1.2);
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    
}

li:hover {
    transform: scale(1.2, 1.2);
}

#name {
    color: #5a5a5a;
    font-size: 2.5em;
    transition: width 0.5s height 0.5s ease-in-out; 
}

#name:hover {
    transform: scale(1.2,1.2); 
    color: red;
}

p {
    font-style: italic;
    color:lightgray;
}

img {
    object-fit: contain;
    border: 2px solid black;
    width:75%;
    height:auto;
    
}

img:hover {
    transform: scale(1.2,1.2);
}

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */